# Ignore Python bytecode and virtual environments
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
.env
.venv
.idea
.vscode
.DS_Store

# Ignore data and model directories
logs/

# Ignore flake8 config files
.flake8